@font-face {
  font-family: 'droid_sans';
  src: url('../fonts/DroidSans.eot');
  src: url('../fonts/DroidSans.eot?#iefix') format('embedded-opentype'), url('../fonts/DroidSans.woff') format('woff'), url('../fonts/DroidSans.ttf') format('truetype'), url('../fonts/DroidSans.svg#3aa3828ad12880b9e7588ae9c516120a') format('svg');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'droid_sans';
  src: url('../fonts/DroidSans-Bold.eot');
  src: url('../fonts/DroidSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/DroidSans-Bold.woff') format('woff'), url('../fonts/DroidSans-Bold.ttf') format('truetype'), url('../fonts/DroidSans-Bold.svg#c44da7744b010fbb5779b1d16549f39d') format('svg');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'nexa';
  src: url('Nexa Bold.eot');
  src: url('../fonts/Nexa Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Nexa Bold.woff') format('woff'), url('../fonts/Nexa Bold.ttf') format('truetype'), url('../fonts/Nexa Bold.svg#7a6e0a27b48926c5216e096daa3e1570') format('svg');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'nexa';
  src: url('../fonts/Nexa Light.eot');
  src: url('../fonts/Nexa Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Nexa Light.woff') format('woff'), url('../fonts/Nexa Light.ttf') format('truetype'), url('../fonts/Nexa Light.svg#8daeb39b16ba4fbde275db0ba71a5206') format('svg');
  font-style: normal;
  font-weight: 200;
}
.padrao_cinza_1 {
  display: inline;
  font: normal 10pt/1em 'nexa_bold', Verdana;
  color: #6c6d6f;
}
.padrao_cinza_2 {
  display: inline;
  font: normal 9pt/1em Verdana;
  color: #777879;
}
.padrao_cinza_3 {
  display: inline;
  font: normal 12pt/1em Verdana;
  color: #58595b;
}
.padrao_cinza_4 {
  display: inline;
  font: normal 10pt/1em 'droid_sans', Verdana;
  color: #58595b;
}
.padrao_azul_1 {
  display: inline;
  font: normal 10pt/1em 'droid_sans', Tahoma;
  color: #004A61;
  letter-spacing: 1px;
}
.texto_azul {
  font: normal 11pt/1em 'nexa_bold', Tahoma;
  color: #004961;
  text-decoration: none;
}
.texto_verde {
  display: inline;
  font: normal 11pt/1em 'nexa_bold', Tahoma;
  color: #9acc57;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
h1 {
  font: bold 32pt/1.5em 'droid_sans', Tahoma;
  color: #004A61;
}
h2 {
  font: normal 28pt/1.5em 'droid_sans', Tahoma;
  color: #004A61;
  letter-spacing: 1px;
}
h3 {
  font: normal 14pt/1.5em 'droid_sans', Tahoma;
  color: #00475E;
  letter-spacing: 0.5px;
}
.pagina_sobre {
  position: absolute;
  width: 470px;
}
.pagina_sobre .titulo {
  border-bottom: 1px solid #BCBEC0;
  padding-bottom: 15px;
  margin-bottom: 40px;
}
.pagina_sobre .acom {
  padding-left: 25px;
}
.pagina_sobre .acom .logo_acom {
  top: -10px;
  position: relative;
  float: left;
  display: inline-block;
  width: 33%;
}
.pagina_sobre .acom span {
  display: inline-block;
  float: right;
  text-align: left;
  margin: 0px 0px 50px 30px;
  width: 60%;
}
.pagina_sobre .acom span p {
  line-height: 1.5em;
}
.pagina_sobre .versao {
  clear: both;
  text-align: center;
}
.pagina_sobre .copyright {
  text-align: center;
  display: inline;
  font: normal 10pt/1em 'droid_sans', Verdana;
  color: #58595b;
  width: 250px;
  display: block;
  padding: 25px 25%;
  position: absolute;
  display: inline;
  font: normal 10pt/1em 'droid_sans', Verdana;
  color: #58595b;
}
