@import "padrao_fontes";
@import "botoes";

html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  background: #dcdddf;
  height: 100%;
  margin: 55px 0 0;
}
.cke_maximized {
  top: 55px !important;
}
:focus {
  outline: none;
}

header {
  //text-align: right;
  position: fixed;
  width: 100%;
  height: 45px;
  margin: -55px 0 0;
  z-index: 99999;
  padding: 5px 0px;
  
  /*background: -webkit-linear-gradient(top, #8cc53e, #75ae27);
  background: -linear-gradient(top, #8cc53e, #75ae27);
  background: -moz-linear-gradient(top, #8cc53e, #75ae27);
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);*/
  background: #FDBB30;
  div {
    display: inline-block;
  }
  .esquerda {
    top: 0;
    margin: 0 20px;
    position: absolute;
    img {
      width: 100%;
      margin: 25% 0;
      height: auto;
    }
    .titulo {
      //float:left;
      font: normal 10pt 'droid_sans', Tahoma;
      color: #004961;
      display: inline-block;
      margin: 15px 10px;
      line-height: 15px;
    }
  }
  .direita {
    padding: 10px 20px;
    float: right;
    ul {
      display: inline-block;
      text-align: center;
      background: #fff url(../img/listras_menu.png) no-repeat 50% 10px;
      width: 25px;
      margin: 0 10px;
      height: 25px;
      padding: 0;
      border-radius: 3px;
      vertical-align: middle;
      cursor: pointer;
      div {
        display: none;
      }
    } 
    ul:hover {
      background: #004961 url(../img/listras_menu.png) no-repeat 50% -4px;
    }
    ul > div {
      background: #fff;
      top: 55px;
      position: absolute;
      right: 15px;
      text-align: left;
      padding: 2px 5px 5px;
      border: 1px solid #d1d3d4;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      li {
        //background: #fff;
        list-style: none;
        padding: 8px 20px;
        //padding: 5px 20px;
      }
      li:hover {
        background: #f1f2f2;
      }
      li:not(:last-child) {
        border-bottom: 1px solid #dcdddf;
      }
    }
    ul > div:after {
      content: url(../img/seta_up_menu.png) no-repeat 90% 0%;
      position: absolute;
      top: -12px;
      right: 15px;
    }
    a {
      font: normal 10pt 'droid_sans', Tahoma;
      color: #004961;
      text-decoration: none;
      display: block;
    }
  }
}

#painel_esquerdo {
  position: absolute;
  background: #fff;
  width: 215px;
  height: 100%;
  float: left;
  
  .info_user {
    padding: 35px 35px;
    background: #e6e7e8;
    span {
      display: block;
      text-align: left;
    }
    .img_avatar {
      /*background: #fff;
      border: 1px solid #dedfe1;*/
      text-align: center;
      width: 150px;
      height: 150px;
      margin-bottom: 15px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .user_name {
     /*font: normal 16pt/1.5em nexa_bold, Tahoma;
     color: #004961;*/
     text-align: center;
     font-size: 15pt;
     margin-bottom: 5px;
     word-wrap: break-word;
     text-transform: capitalize;

    }
    .user_perfil {
      text-align: center;
      font: normal 10pt/1.5em 'droid_sans', Sans-serif;
      color: #58595b;
      text-transform: capitalize;
    }
    .ultima_visita {
      color: #004961;
      font: normal 8pt/1.5em droid_serif;
    }
  }
  .menu {
    ul {
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        margin-bottom: 1px;
        padding: 0;
        position: relative;
        a {
          background: #fff url(../img/icon_temp.png) no-repeat 10px 6px;
          color: #58595b;
          text-decoration: none;
          word-break: break-word;
          display: block;
          padding: 6px 15px 6px 30px;
          
          font-size: 9pt;
          //border-bottom: 1px solid #E6E7E8;
        }
        
      }
      .dashboard a{
        background: url(../img/icon_home.png) no-repeat 10px 6px;
      }
      .fileuploads a{
        background: url(../img/icon_file.png) no-repeat 10px 6px;
      }
      .briefings a{
        background: url(../img/icon_briefings.png) no-repeat 10px 6px;
      }
      .chamados a{
        background: url(../img/icon_chamados.png) no-repeat 10px 6px;
      }
      .orcamentos a{
        background: url(../img/icon_orcamentos.png) no-repeat 10px 6px;
      }
      .chamados a{
        background: url(../img/icon_chamados.png) no-repeat 10px 6px;
      }
      .gerenciar a{
        background: url(../img/icon_gerenciar.png) no-repeat 10px 6px;
      }
      li:after {
        z-index: 99999;
        opacity: 0;
        //background: #fdbb30;
        display: none;
        
      }
     /* li:before {
        z-index: 99999;
        content: '';
        border-radius: 3px;
        width: 18px;
        height: 18px;
        right: -30px;
        margin-top: 15px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg); 
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        transition: opacity .52s ease-in-out;
        -moz-transition: opacity .52s ease-in-out;
        -webkit-transition: opacity .52s ease-in-out;
      }*/
      
      li:after {
        position: absolute;
        content: attr(data-title);
        width: 110px;
        height: auto;
        font: normal 9pt/1.3em 'droid_sans', Tahoma;
        word-break: break-word;
        padding: 15px;
       // display:none; 
        margin: 0;
        left: 235px;
        top: -60px;   
        transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        -webkit-transition: opacity .5s ease-in-out;
        background: rgba(253,187,48,0.85);
        border: 1px solid #FDBB30;
      }
      li:hover a, li.ativo:hover, li.ativo:hover > a {
        background-color: #FDBB30 !important;
        font-weight: bold;
        color: #004A61;
      }
      li.ativo, li.ativo > a{
        /*background: #FDBB30;
        color: #004A61;
        border-bottom: 1px solid #FDBB30;*/
        color: #FDBB30;
        font-weight: bold;
      }
      li:hover:after, li:hover:before {
        opacity: 1;
        position: absolute;
        display: block;
      } 
    }
  }
}


#painel_conteudo {
  background: #dcdddf;
  height: 100%;
  min-height: 790px;
  float: left;
  display: inline-block;
  margin-left: 225px;
  max-width: 1200px;
  margin-top: 10px;
  
/************************************************************************/
/*********************************JANELAS*******************************/
/************************************************************************/
  .janela, .janela_100 {
    width: 470px;
    margin-right: 10px;
    margin-bottom: 10px;
    //margin: 10px 0 0 10px;
    border: 1px solid #d1d3d4;
    //box-shadow: 1px 0 1px 1px #d6d7d9;
    background-color: #f1f2f2;
    float: left;
    .titulo_janela {
      position: relative;
      margin-top: 10px;
      border-bottom: 1px solid #e7eaec;
      padding-bottom: 10px;
      .titulo_bt_func {
        display: inline-block;
        right: 10px;
        position: absolute;
        .btn_titulo_voltar {
          display: inline-block;
          margin: 0;
          float: left;
          margin: -2px 15px;
        }
        span {
          cursor: pointer;
          width: 19px;
          height: 19px;
          display: block;
          float:left;
          margin-left: 2px;
        }
        .btn_minimizar.janela_minimizada {
          -webkit-transform: rotate(0deg) !important;
        }
        .btn_minimizar {
          background: url(../img/botoes_min.png) -22px 19px;
          -webkit-transform: rotate(180deg);
        }
        .btn_fechar {
          background: url(../img/botoes_min.png) 0px 19px;
        }
        .btn_atualizar {
          background: url(../img/botoes_min.png) 0px 19px;
        }
      }
    }
    .tabela {
      overflow-y: auto;
      max-height: 400px;
    }
    .titulo_janela > {
      span {
        font: normal 10pt/1.3em "droid_sans", Sans-serif;
        color: #58595B
      }
      span:before {
        content: "";
        width: 10px;
        height: 10px;
        margin: 0px 5px 0 10px;
        color: #e1e1e1;
        background: #e1e1e1;
        top: 0px;
        display: inline-block;
        border-radius: 50%;
        position: relative;

      }
    }
    .tabela  {
      table {
        width: 100%;
        text-align: left;
        border-spacing: 0;
        th {
          padding-top: 10px;
          padding-bottom: 10px;
        }
        td{
          padding-top: 10px;
          padding-bottom: 0px;
          vertical-align: -webkit-baseline-middle;
          a {
            //padding-left: 5px;
            vertical-align: sub;
          }
        }
        tr {
          //border-bottom: 1px solid #e7eaec;
        }
        tr:hover {
          background: #fff;
        }
        thead {
          th {
            background: #e6e7e8;
            font: normal 10pt/1.3em "droid_sans", Times;
            color: #004961;
          }
        }
        tbody{
          tr:not(:first-child){
            td{
              border-bottom: 1px solid #e1e1e1;
            }
          }
          tr:not(:last-child) {
            td{
             border-bottom: 1px solid #e1e1e1;
            }
          }
          td {
            font: normal 9pt Verdana, Tahoma;
            color: #58595b;
            //text-transform: capitalize; 
            word-break: break-word;
            padding-right: 10px;
            padding-bottom: 10px;
            vertical-align: middle;
           // vertical-align: bottom;
          }
          td:first-child:before {
            top: 25px;
          }
          .botoes {
            text-align: right;
          }
          
        }      
        
        th:first-child, td:first-child {
            padding-left: 20px;
            position:relative;
        }
        /*th:first-child:before, td:first-child:before {
          content: '';
          width: 4px;
          height: 4px;
          background: #9d9d9d;
          display: block;
          position: absolute;
          left: 10px;
          top: 15px;
          vertical-align: middle;
          border-radius: 25px;
        }*/
        td.tooltip:hover:before{
          opacity: 1;
        }
        td.tooltip:before {
          position: absolute;
          content: attr(data-title);
          width: 150%;
          height: auto;
          font: normal 9pt/1.3em 'droid_sans', Tahoma;
          word-break: break-word;
          padding: 5px;
          opacity: 0;
          margin: 0;
          left: 100px;
          top: -10px !important;
          transition: opacity .5s ease-in-out;
          -moz-transition: opacity .5s ease-in-out;
          -webkit-transition: opacity .5s ease-in-out;
          background: rgba(253,187,48,0.85);
          border: 1px solid #FDBB30;
          z-index: 999999;
        }
        
        .nova_resposta {
          background-color: #fff; 
          td:first-child:before {
            background: #9acc57 !important;
            width: 8px !important;
            height: 8px !important;
          }
        }
        .nova_resposta {
          a {
          color:#9acc57;
          }
        }
       
        
      }
    }
    
     /****************************************************************
     ************************Area de Chamados*************************
     *****************************************************************/
    .chamado {
      
      .detalhe_usuario {
        word-spacing: 1pt;
        display: inline-block;
        .padrao_cinza_1;
        img {
          margin: 10px 10px -10px 0;
          width: 30px;
          height: 30px;
          border: 1px solid #dcdddf;
        }
        .enviado_em {
          margin-left: 5px;
        }
      } 
      .pergunta {
        border-bottom: 1px solid #d1d3d4;
        padding-left: 23px;
      }
      .anexo {
        float: right;
        display: inline-block;
        margin: 15px;
      }
      .respostas {
        .resposta {
          background: #fff;
          padding-left: 50px;
          border-bottom: 1px solid #d1d3d4;
        }
      }
      .desc_pergunta, .desc_resposta {
        display: block;
        margin: 20px 0px;
      }
    }
     /****************************************************************
     * ***********************Fim da Area de Chamados******************
     *****************************************************************/
    
    /****************************************************************
     ************************Area de Projetos de Briefing*************
     *****************************************************************/
    .briefing_projetos {
      padding: 15px;
      display: inline-block;
      .div_30, .div_70 {
        float: left;
      }
      .div_30 {
        width: 35%;
        border-right: 1px solid #e7eaec;
        margin-left: -1px;
        p {
          margin: 0;
          font: normal 11pt/20pt 'droid_sans', Tahoma;
          color: #58595B;
          padding: 15px 25px;
        }
      }
      .div_70 {
        width: 65%;
        p {
          margin: 0;
          font: normal 12pt/20pt 'droid_sans', Tahoma;
          color: #58595B;
          padding: 15px 25px;
        }
      }
    }
    
    
    /****************************************************************
     ******************Fim da area de Projetos de Briefing*************
     *****************************************************************/
    
    /****************************************************************
     * ***********************Boteos no canto da jenala******************
     *****************************************************************/
    .btn_baixar a {
      background: url(../img/botoes_min.png) no-repeat -41px 0px;
      cursor: pointer;
      width: 20px;
      height: 20px;
      display: block;
      float:left;
    }
    /****************************************************************
     * ******************FIM Boteos no canto da jenal******************
     *****************************************************************/
  }
  .janela_100 {
    width: 952px;
  }
  .janela.ativa {
      border: 1px solid #8dc63f !important;
      .titulo_janela span:before {
        background: #8dc63f;
      }
      .titulo_janela span {
        color: #8dc63f;
        font-weight: bold;
      }
  } 


/************************************************************************/
/***************************FIM    JANELAS*******************************/
/************************************************************************/
}


.acom_info {
  display: block;
  position: absolute;
  bottom: 40px;
  padding: 0 30px;
  text-align: left;
  span {
    display: block;
    font: normal 8pt/1.3em 'droid_sans', Tahoma;
    color: #58595B;
    border-bottom: 1px solid #BCBEC0;
    padding-bottom: 15px;
    margin-bottom: 12px;
  }
  .links a {
    font: bold 10pt/1em 'droid_sans', Tahoma;
    color: #004A61;
    text-decoration: none;
    margin: 0 5px;
  }

}


/************************************************************************/
/***************************Mensagens de erros***************************/
/************************************************************************/
span.erro_message {
  font: normal 9pt Verdana, Tahoma;
  color: red; 
}
.mensagens {
  .sucesso, .erro-atualizar {
    display: block;
    width: 950px;
    height: 100px;
    vertical-align: top;
    margin-bottom: 10px; 
    img {
      top: 20%;
      position: relative;
      margin-left: 25px;
    }
    .message {
      display: inline-block;
      font: normal 16pt/1em 'droid_sans', Tahoma;
      color: #fff;
      margin-left: 20px;
      word-break: break-word;
      width: 80%;
    }
    a {
      float: right;
      top: 35%;
      position: relative;
      right: 20px;
    }
  }
  .sucesso {
    background: #8DC63F;
  }
  .erro-atualizar {
    background: #A62B2A;
  }
}

/************************************************************************/
/***************************FIM mensagens de erros***********************/
/************************************************************************/

