.notificacoes {
  .numero {
    font: bold 13pt/1em 'droid_sans', Tahoma;
    color: #fff;
    background: #FDBB30;
    padding: 3px 9px;
    border-radius: 6px;
    vertical-align: middle;
    margin-right: 5px;
  }
}
