.bem_vindo {
  text-align: center;
  h2 {
    font-size: 24pt;
    letter-spacing: 0px;
  }
  h3 {
    font-size: 12pt;
  }
}
.notificacoes {
  .numero {
    font: bold 10pt/1em 'droid_sans', Tahoma;
    color: #fff;
    background: #FDBB30;
    padding: 3px 9px;
    border-radius: 3px;
    vertical-align: middle;
    margin-right: 5px;
  }
}
